<div class="container">
  <bootstrap-panel>
    <!-- <div class="heading">
      <h1>Heading</h1>
    </div> -->
    <ng-container class="heading">
      <h1>Heading</h1>
    </ng-container><!--This will not put Heading in div again, if you want to use only content without div like above commented one
            then use ng-container-->
    <div class="body">
      <h2>Body</h2>
      <!-- <directive-example-one></directive-example-one> -->
      <directive-example-two></directive-example-two>
    </div>
  </bootstrap-panel>
  <h3>ngfor-change-detection and trackBy Example</h3>
  <ngfor-change-detection></ngfor-change-detection>

  <h3>Custom Directive Example</h3>
  <!-- <input type="text" appInputFormat [format]="'uppercase'"> or but change the name in @Input
  decorator. -->
  <input type="text" [appInputFormat]="'uppercase'">

  <h3>Tempalate Driven Form Example</h3>
  <contact-form></contact-form>

  <h3>From here Starts Router and Navigation Topic</h3>
  <navbar></navbar>
  <router-outlet></router-outlet>




</div>